<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/lib/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/home.css" />
		<link rel="stylesheet" type="text/css" href="../css/family.css"/>
	</head>

	<body>
		<!--留白top-->
		<div id="l-top"></div>
		<div>
			<!--内容-->
			<div class="home">
				<!--swiper-->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="../img/65c78b7f-a41a-a948-1707-753ec485150a!720x360.jpg" /></div>
						<div class="swiper-slide"><img src="../img/ad047533-85c2-d4e4-9470-15cc73f2a676!720x360.jpg" /></div>

					</div>
					<div class="swiper-pagination"></div>
				</div>
				<!--banner-->
				<div class="banner">
					<div class="items"><img src="../img/A7513E612BB30EBE6459565A4A522611_03.png" /></div>
					<div class="items"><img src="../img/A7513E612BB30EBE6459565A4A522611_05.png" /></div>
					<div class="items"><img src="../img/A7513E612BB30EBE6459565A4A522611_07.png" /></div>
					<div class="items"><img src="../img/A7513E612BB30EBE6459565A4A522611_09.png" /></div>
					<div class="items"><img src="../img/A7513E612BB30EBE6459565A4A522611_11.png" /></div>
					<div class="items">最后疯抢</div>
					<div class="items">9.9包邮</div>
					<div class="items">拼团</div>
					<div class="items">明日预售</div>
					<div class="items">签到赚积分</div>
				</div>
				<!--content-->
				<div class="content">
					<div class="content-left"></div>
					<div class="content-right">
						<div class="content-right-items"></div>
						<div class="content-right-items"></div>
						<div class="content-right-items"></div>
					</div>
				</div>
				<!--2-->
				<div class="content2">
					<div class="content2-img">
						<img src="../img/9AA16C2EE119A13D6C7646EC1D1056D1_02.png"/>
					</div>
						<ul class="content2-btm">
							<li>
								<img src="../img/A7513E612BB30EBE6459565A4A522611_05.png" />
								<h3>
									￥16.9
									<span>￥85.9</span>
									
								</h3>
								<p>家用脸部按摩美容仪</p>
							</li>
							<!--2-->
							<li>
								<img src="../img/A7513E612BB30EBE6459565A4A522611_05.png" />
								<h3>
									￥16.9
									<span>￥85.9</span>
									
								</h3>
								<p>家用脸部按摩美容仪</p>
							</li>
							<li>
								<img src="../img/A7513E612BB30EBE6459565A4A522611_05.png" />
								<h3>
									￥16.9
									<span>￥85.9</span>
									
								</h3>
								<p>家用脸部按摩美容仪</p>
							</li>
							<li>
								<img src="../img/A7513E612BB30EBE6459565A4A522611_05.png" />
								<h3>
									￥16.9
									<span>￥85.9</span>
									
								</h3>
								<p>家用脸部按摩美容仪</p>
							</li>
							
						</ul>
				</div>
				
				<!--商品list-->
				<div class="listTop">
					日用百货
				</div>
				<div class="shopList">
					<div class="items">
						<img src="../img/faacc7ed-1464-e22c-cc2c-3c06b7ff3542!720x360.jpg" />
						<div>
							<h5>满2件减6元 <span>上新</span></h5>
							<p>苏媛品牌专场</p>
						</div>
					</div>
					<div class="items"></div>

				</div>
			</div>
			<!---->
		</div>
		<!--底部留白-->
		<div id="l-bottom"></div>
	</body>

	<script src="../lib/yzxRem.js"></script>
	<script src="../lib/swiper.min.js"></script>
	<script src="../js/home.js"></script>

</html>
